<div class="container">
  <div class="page-header">
    <h1>How To Mine</h1>
  </div>
  <p class="lead">In order to mine on this pool you need to have an
    <a href="https://github.com/overline-mining/olminer" rel="nofollow" target="_blank">olminer</a> installation
    pointed to<br/><code>stratum://YOUR_OL_ADDRESS.RIG_ID@{{config.StratumHost}}:{{config.StratumPort}}</code>
  </p>
  <dl class="dl-horizontal">
    <dt>YOUR_OL_ADDRESS</dt>
    <dd>This is your address for payouts, generate one with interchange, or any valid keccak address will do
      <strong>Example:</strong> <code>0xf34fa87db39d15471bebe997860dcd49fc259318</code>.
    </dd>
    <dt>RIG_ID</dt>
    <dd>
      ID of your farm to distinguish it from your other rig. If you have just one rig, feel free to omit this param.
      This param must be short alphanumeric string with optional dashes and underscores.<br/>
      <strong>Example:</strong> <code>rig-1</code>
    </dd>
  </dl>
  <p>
    <strong>Full example:</strong>
    <code>olminer --cuda -P stratum://0xf34fa87db39d15471bebe997860dcd49fc259318.rig-1@{{config.StratumHost}}:{{config.StratumPort}}</code>.<br/>
  </p>

  <h4>Stratum Mining with Stratum Proxy for Ethereum (THIS DOES NOT WORK YET)</h4>
  <p class="lead">Grab proxy from <a href="http://github.com/Atrides/eth-proxy" re="nofollow" target="_blank">eth-proxy GitHub repo</a>.</p>
  <p class="lead">Edit <code>eth-proxy.conf</code> and specify our pool's <code>HOST: {{config.StratumHost}}</code>, <code>PORT: {{config.StratumPort}}</code> and your <code>WALLET</code>.</p>

  <h4>Mining with Ether-Proxy</h4>
  <p class="lead">Use stable release of <a href="http://github.com/sammy007/ether-proxy/releases" target="_blank">Ethereum Solo/Pool Mining Proxy</a>.</p>

  <h4>Advice</h4>
  <p>GPU and CPU mining are currently available, CPU mining does not yield much if there are GPUs contributing to the pool.</p>
  <h4>Terms of Service</h4>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
</div>
